<div class="grid mb-12 grid-cols-[1fr_340px] items-center gap-16">
  @if (account() === undefined) {
    <div class="flex items-center w-full">
      <app-loading-icon />
    </div>
  } @else {
    <app-profile-header-component [profile]="account()!" />
  }
  <div class="flex">
    <a [routerLink]="'/settings'" class="flex items-center btn gap-2">
      <span>Edit</span>
      <app-svg class="w-4 h-4" icon="settings" />
    </a>
  </div>
</div>
<div class="grid mb-12 grid-cols-[1fr_340px] items-center gap-16">
  <div>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
    sit amet.
  </div>
  <div>
    @if (subscribers() === undefined) {
      <div class="flex items-center w-full">
        <app-loading-icon />
      </div>
    } @else {
      <app-profile-followers [subscribers]="subscribers()!" />
    }
    <app-about-me />
  </div>
</div>
