<div class="h-screen px-3 py-5 bg-dark">
  <div class="relative mb-5 ml-4">
    <div class="absolute top-20 left-16.25 rotate-[-18deg] w-[45%] h-[30%] bg-white z-10"></div>
    <img class="relative z-20" src="/img/sidebar-logo.png" alt="sidebar logo" />
  </div>
  <app-sidebar-menu />
  <h2 class="mb-5 ml-3 text-lg font-bold text-white">Subscribers</h2>
  <div class="ml-3">
    <app-subscriber-card-component />
  </div>
  <a
    [routerLink]="'/subscribers'"
    class="flex items-center ml-3 gap-2 text-primary hover:text-white transition-colors duration-300"
  >
    <span>View all</span>
    <app-svg icon="arrow-right" class="w-4 h-4" />
  </a>
</div>
