<div class="flex flex-col min-h-screen px-3 py-5 bg-dark">
  <div class="relative mb-12 ml-4">
    <div class="absolute top-20 left-16.25 rotate-[-18deg] w-[45%] h-[30%] bg-white z-10"></div>
    <img class="relative z-20" src="/img/sidebar-logo.png" alt="sidebar logo" />
  </div>
  <app-sidebar-menu />
  <h2 class="mb-3 ml-3 text-lg font-bold text-white">Subscribers</h2>
  <div class="mb-8 ml-3">
    @if (subscribers() === undefined) {
      <div class="flex items-center w-full">
        <svg
          version="1.1"
          id="loader-1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="40px"
          height="40px"
          viewBox="0 0 40 40"
          enable-background="new 0 0 40 40"
          xml:space="preserve"
        >
          <path
              opacity="0.2"
              fill="currentColor"
            d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
          s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"
          />
          <path
            fill="currentColor"
            d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
          C22.32,8.481,24.301,9.057,26.013,10.047z"
          >
            <animateTransform
              attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 20 20"
              to="360 20 20"
              dur="0.5s"
              repeatCount="indefinite"
            />
          </path>
        </svg>
      </div>
    } @else {
      @for (subscriber of subscribers()!; track subscriber.id) {
        <app-subscriber-card-component [profile]="subscriber" />
      }
    }
  </div>
  <a
    [routerLink]="'/subscribers'"
    class="flex items-center mb-5 ml-3 gap-2 text-primary hover:text-white transition-colors duration-300"
  >
    <span>View all</span>
    <app-svg icon="arrow-right" class="w-4 h-4" />
  </a>

  @if (me(); as me) {
    <footer
      class="items-center px-4 mt-auto py-3 rounded-sm gap-4 bg-dark-hover grid grid-cols-[32px_1fr_16px]"
    >
      <img
        [src]="(me.avatarUrl | imgUrl) ?? '/img/avatar.avif'"
        class="w-6 h-6 overflow-hidden rounded-4xl"
        alt=""
      />
      <span class="text-sm text-white">{{ me.username }}</span>
      <a class="block w-4 h-4" [routerLink]="['settings']">
        <app-svg icon="settings" />
      </a>
    </footer>
  }
</div>
