<div class="flex flex-col h-screen px-3 py-5 bg-dark">
  <div class="relative mb-12 ml-4">
    <div class="absolute top-20 left-16.25 rotate-[-18deg] w-[45%] h-[30%] bg-white z-10"></div>
    <img class="relative z-20" src="/img/sidebar-logo.png" alt="sidebar logo" />
  </div>
  <app-sidebar-menu />
  <h2 class="mb-3 ml-3 text-lg font-bold text-white">Subscribers</h2>
  <div class="mb-8 ml-3">
    @for (subscriber of subscribers$ | async; track subscriber.id) {
      <app-subscriber-card-component [profile]="subscriber" />
    }
  </div>
  <a
    [routerLink]="'/subscribers'"
    class="flex items-center mb-5 ml-3 gap-2 text-primary hover:text-white transition-colors duration-300"
  >
    <span>View all</span>
    <app-svg icon="arrow-right" class="w-4 h-4" />
  </a>

  @if (me(); as me) {
    <footer
      class="items-center px-4 mt-auto py-1 rounded-sm gap-3 bg-dark-hover grid grid-cols-[32px_1fr_16px]"
    >
      <img [src]="(me.avatarUrl | imgUrl) ?? '/img/avatar.avif'" alt="" />
      <span class="text-sm text-white">{{ me.firstName }} {{ me.lastName }}</span>
      <app-svg icon="settings" class="w-4 h-4" />
    </footer>
  }
</div>
